<div class="jumbotron">
    <p class="lead">API zur Rezeptprüfung</p>
    <p><a href="./swagger" class="btn btn-primary btn-lg">Swagger &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
