@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-4">
        <h2>Dependency Injection in ASP.NET MVC - MVC Controller in Class Library</h2>
        <p>
        </p>
        <p>
        </p>
    </div>
</div>